a:link{                              /* للتحكم بشكل الرابط */
    color: blue;
    text-decoration: none;
    cursor: default;   /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - > خاصية عامة من خلالها تتحكم بشكل الماوس عند التمرير على الشيء المحدد cursor */
}
a:visited{                           /* للتحكم بشكل الرابط بعد زيارته */
    color: brown;
}
a:hover{                             /* للتحكم بشكل الرابط عند التمرير عليه بالماوس */ /* - - - - - - - - - - - - - - - - > هوا محدد عام وليس فقط للروابط hover */
    color: cyan;
    font-size: 20px;
    background-color: blue;
}
a:active{                            /* للتحكم بشكل الرابط اثناء الضعط عليه */
    color: chartreuse;
}


                                                    /* ملاحظات */
                            /* عند استخدام هذه المحددات يفضل ان يكونوا بنفس الترتيب */
                                  /* :بعض المحددات لا تدعم كل خواص التنسيق مثال */
                                   /* هذا المحدد يدعم خواص الالوان فقط visited */