.container{
    display: flex;                         /* تجعل العناصر مرنة */
    flex-wrap: wrap;                       /* عند تصغير الشاشة تجعل هذه الخاصية العناصر تنزل إلى سطر جديد بدلًا من تصغير حجمها في نفس السطر */
 /* flex-wrap: nowrap; */                  /* wrap هذه القيمة هيا عكس القيمة */
 /* flex-direction: row; */                /* هذه القيمة تجعل اصطفاف العناصر افقيًا و هذه هيا القيمة الافتراضية للخاصية */
 /* flex-direction: row-reverse; */        /* هذه القيمة تجعل اصطفاف العناصر افقيًا و تعكس ترتيبهم */
    flex-direction: column;                /* هذه القيمة تجعل اصطفاف العناصر عموديًا بدلًا من افقيًا */
 /* flex-direction: column-reverse; */     /* هذه القيمة تجعل اصطفاف العناصر عموديًا و تعكس ترتيبهم */
   align-items: center;                    /* هذه الخاصية تجعل العناصر متساوية افقيًا بجانب بعض */
   justify-content: space-evenly;          /* من خلال هذي الخاصية يمكنك التحكم بالمسافة الافقية بين العناصر */
}


                           /* ملاحظات */
   /* تكتب هذه الخصائص على العنصر الاب و تطبق على العناصر الابناء */
/* -> خصائص Flexbox لن تعمل إلا إن كانت الخاصية display بقيمة flex */
   /* لجعل الصور مرنة قم بإعطائها نسب مأوية في الطول و العرض */