.Box-model{
    color: cornflowerblue;   /* للتحكم بلون المحتوى */
    background-color:brown;  /* للتحكم بلون خلفية المحتوى (لون الحشوة) */
    border: 2px solid blue;  /* للتحكم بي إطار المحتوى */
    padding: 10px;             /* للتحكم بالحشوة او الهوامش الداخلية */
    margin: 20px;              /* للتحكم بالهوامش الخارجية */
}


.Box-model-padding{
    padding: 50px;             /* للتحكم بالحشوة او الهوامش الداخلية من جميع الجهات */
    padding-top: 40px;         /* للتحكم بالحشوة او الهامش الداخلي من الجهة العلوية فقط */
    padding-right: 20px;       /* للتحكم بالحشوة او الهامش الداخلي من الجهة اليمنى فقط */
    padding-bottom: 60px;      /* للتحكم بالحشوة او الهامش الداخلي من الجهة السفلية فقط */
    padding-left: 40px;        /* للتحكم بالحشوة او الهامش الداخلي من الجهة اليسرى فقط */
}


.Box-model-margin{
    margin: 50px;             /* للتحكم بالهوامش الخارجية من جميع الجهات */
    margin-top: 40px;         /* للتحكم بالهامش الخارجي من الجهة العلوية فقط */
    margin-right: 20px;       /* للتحكم بالهامش الخارجي من الجهة اليمنى فقط */
    margin-bottom: 60px;      /* للتحكم بالهامش الخارجي من الجهة السفلية فقط */
    margin-left: 40px;        /* للتحكم بالهامش الخارجي من الجهة اليسرى فقط */
    margin: auto;             /* هذه القيمة تقوم بتوسيط العنصر أفقيًا،لكنها تجعل الهوامش العلوية والسفلية مساويةً للصفر */
    margin: 50px auto;        /* في هذه الحالة سيصبح للعُنصر هامش 50بكسل من الأعلى و الأسفل،أما من اليمين و اليسار يتم إحتسابهم بشكل تلقائي لتوسيط العُنصر */
}