.Display-modes{
    background-color: indianred;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
 /* display: none; */                       /* هذه القيمة تعني أن العنصر لن يظهر أي تقوم بي إلغاء العنصر */
 /* display: block; */                      /* div هذه القيمة تعني أن العنصر سيظهر مستقلًا في سطر لوحده, بحيث ستظهر العناصر واحدة تلو الآخر عموديًا و هذه هيا القيمة الافتراضية لعنصر */
 /* display: inline; */                     /* تقوم هذه القيمة بعرض العناصر على نفس السطر أي بجانب بعضها ولكن تلغي قياساتها */
    display: inline-block;                  /* تقوم هذه القيمة بعرض العناصر على نفس السطر أي بجانب بعضها دون إلغاء قياساتها و إذا لم يكن هناك مساحة كافية فإنها ستنزل اسفل بعضها*/
}