nav{
    float: left;               /* تستخدم هذه الخاصية لوضع قسم منفصل في الصفحة ويكون في اليسار أو اليمبن بحسب القيمة الذي نحددها float */
 /* float: right; */
    width: 200px;
}


.clear{                        /* تستخدم هذه الخاصية لإلغاء الخاصية فلوت من العناصر الذي نحددها clear */
 /* clera: left; */            /* إذا كانت قيمة الخاصية فلوت ليفت نضع قيمة الخاصية كلير ليفت */
 /* clear: right; */           /* إذا كانت قيمة الخاصية فلوت رايت نضع قيمة الخاصية كلير رايت */
    clear: both;               /* float هذه القيمة نضعها بدلًا من كتابت القيمة ليفت او القيمة رايت و هيا تحدد القيمة المناسبة بينهم حسب قيمة الخاصية both */
}  










/* Lesson 16, Minute 04:56, in CSS basics */