             /* بعد تحميل ملف الخط من جوجل فونت أو غيره يجب تعريفه قبل استخدامة */


@font-face{                                         /* هكذا نقوم بتعريف الخط */
    font-family: CairoFont;        /* هنا نضع له الاسم الذي نريد لكي نستدعيه بالاسم الذي وضعناه */
    src: url(fonts/Cairo-ExtraLight.ttf);           /* هنا نضع مسار ملف الخط */
}

                      /* ثم نقوم باستخدامه كما في المثال التالي */

h1{
    font-family: CairoFont;
}


        /* ملاحظة: يكفي تعريف الخط مرا واحدة في صفحة السي اس اس, أي لا داعي لتكرار التعريف */







        
/* Lesson 17, in CSS basics */